HelloConsole/bin/
HelloConsole/obj/
ITI.NetFileProcessor/bin/
ITI.NetFileProcessor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ITI.NetFileProcessor/obj/
ITI.NetMorseTranslator/obj/
ITI.NetMorseTranslator/bin/
EatMyShort/bin/
EatMyShort/obj/
ITI.Run/bin/
ITI.NetMorseCode/bin/
ITI.NetMorseCode/obj/
ITI.Run/obj/
